.videoContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .videoContainer {
        grid-template-columns: 1fr 300px;
    }
}

.localVideoWrapper {
    position: absolute;
    top: 70px;
    right: 2px;

    background: var(--bg-color);
    border-radius: var(--border-radius-lg);

    overflow: hidden;
    box-shadow: var(--shadow-lg);
    border: 2px solid var(--border-color);
}

.localVideo {
    width: 120px;
    max-height: 100px;

    object-fit: cover;
    display: block;
    background: var(--bg-color);
    object-fit: cover;
}

@media (min-width: 768px) {
    .localVideoWrapper {
        top: 40px;
        right: 20px;
    }

    .localVideo {
        width: 210px;
        max-height: initial;
        height: 200px;
    }
}
